 <div class="inner-faq-container">
    <h3>Frequently Asked Questions</h3>
    <div>
      <h4><a class="toggling" href="#">What is pomace?</a></h4>
      <div class="answer">
        <p>Pomace is left over grape skins and seeds after the winemaking process. Pomace is usually composted in large “windrows” in winegrowing regions throughout the world.  There is latent energy remaining in grape skins that could be captured instead of decomposing in the compost pile (contributing to greenhouse gas emissions).</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>

    </div>

    <div>
      <h4><a class="toggling" id="list1" href="#">What kind of energy will you be producing?</a></h4>
      <div class="answer">
        <p>We will be producing two kinds of energy:</p>
        <ol>
          <li><p>Sustainable ethanol from the remaining sugar in the pomace, called “Advanced Biofuel” in the United States.</p></li>
          <li><p>Sustainable electricity made from the syngas that is created in the gasification process.</p></li>
        </ol>
        <a class="list1" href="#">close</a>
      </div>
    </div>

      <div>
      <h4><a class="toggling" href="#">What is currently being done with pomace?</a></h4>
      <div class="answer">
        <p>Most of the pomace in winegrowing regions is composted and actually contributes to greenhouse gas emissions, as does most biomass in agricultural regions.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Is anybody already doing what you are wanting to do?
      </a></h4>
      <div class="answer">
        <p>There are already people making ethanol (humans have made alcohol for 1000’s of years) for vehicle fuels.  And gasification technology has been used for decades.  However nobody has made the link to integrate these two pieces of equipment in a co-generation capacity.  Doing so will maximize efficiency both from an economic and environmental standpoint.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Why is doing this a better idea than what is currently done?
      </a></h4>
      <div class="answer">
        <p>What is currently being done (composting) is not only a contributor to greenhouse gasses, but it is wasting a perfectly good source of clean energy in the process. With increasing state and national demands for sustainable energy this waste stream is a “low hanging fruit”. It should complement a multi-pronged clean energy approach along with solar, wind, and geothermal solutions.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Where would you build one of these plants?
      </a></h4>
      <div class="answer">
        <p>As stated above, what is currently being done (composting) is not only a contributor to greenhouse gasses but it is ignoring a perfectly legitimate source of clean energy.  With increasing state and national demands for sustainable energy wine industry waste is a “low hanging fruit” and can complement a multi-faceted state and national clean energy strategy.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Who would be your customers?
      </a></h4>
      <div class="answer">
        <p>These are small distributed generation facilities that are placed in rural or semi rural environments next to existing industries that have consistent base load needs. Our demonstration scale facility is intended for the 76 acre site housing 10 wineries in Sebastopol, CA. This plant will be used to demonstrate what can be done at larger scale in other wine growing regions, starting with California’s Central Valley.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
        <p></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#"></a></h4>
      <div class="answer">
        <p>Customers for advanced ethanol are petroleum companies who blend 10% of their gasoline stock with ethanol. Customers of our sustainable electricity are the co-located industries on-site.  Any/all excess electricity produced will help the local utility meet state carbon reduction standards.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">How do you make ethanol out of Pomace?
      </a></h4>
      <div class="answer">
        <p>It is a fairly simple process involving the modern-day technology of an ancient process. Fuel grade ethanol is basically 198 proof alcohol, or 99.9% alcohol. Most cars can run on a blend of 10-15% ethanol with petroleum, and many newer cars can run on E85 or 85% ethanol.</p>

        <p>Alcohol is traditionally made by fermenting sugar from different organic materials.  Modern technology has advanced the field to include cellulosic methods and others. </p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>
