<div class="one outer-flipper">

<div class="inner-flipper">
Biomass is the leftover waste/residue after agriculture processes. Biomass can be used as a feedstock for clean energy. Biomass rich in sugars (carbohydrates, sucrose, lactose, etc) can be converted into ethanol (99% alcohol) and sold into the vehicle fuels market.
</div>
</div>

<div class="two outer-flipper">
<div class="inner-flipper">
The first process in our system turns the sugar biomass into fuel-grade ethanol. Fuel-grade ethanol is 99.9% alcohol (198 proof), and our gasoline supply currently has 10% ethanol blended into it already. Almost identical to the process for making drinkable spirits, ethanol is made by fermenting organic material and distillation. The main difference is the removal of all excess water.
</div>
</div>


<script>
$(document).ready(function(){
  $('.outer-flipper').hover(function(){
    $(this).find('.inner-flipper').toggle();
    });
  });
</script>