
<div class="mobile-our-process-container visible-sm visible-xs">
  <div>
    <img class="img-responsive" src="assets/rebioinc_process_01.jpg">
      <p>Biomass is the leftover waste/residue after agriculture processes.  Biomass can be used as a feedstock for clean energy.  Biomass rich in sugars (carbohydrates, sucrose, lactose, etc) can be converted into ethanol (99% alcohol) and sold into the vehicle fuels market.</p>
  </div>

  <div>
    <img class="img-responsive" src="assets/rebioinc_process_02.jpg">
    <P>9% alcohol (198 proof), and our gasoline supply currently has 10% ethanol blended into it already. Almost identical to the process for making drinkable spirits, ethanol is made by fermenting organic material and distillation.  The main difference is the removal of all excess water.</p>

      <p>The University of California at Davis conducted a research project last year showing that grape pomace can be turned into fuel-grade ethanol.  To view their white paper <a href="http://www.infohightech.com/IMG/pdf/vin1.pdf" target="_blank">click here...</a></p>

       <p>Ethanol is pure alcohol, which drastically reduces tailpipe emissions. In fact, you may have seen placards next to the gas pump that say “Up to 10% of the gasoline purchased at this pump is fuel-grade ethanol.” The EPA has recently approved a 15% ethanol blend in all gasoline, which means demand for ethanol is going to rise significantly in the coming years. Most of the ethanol consumed in California is produced in the Midwest and shipped by rail.  The growth of fuel crops, and transportation of fuel once it is produced comes with its own set of ethical implications.  The ethanol we are producing is created from local and regional  waste streams, and consumed locally.</p>

      <p class="add-margin-to-p">To view more information on ethanol use, <a href="http://www.ethanolrfa.org/pages/ethanol-facts-environment" target="_blank">click here...</a></p>
  </div>

  <div>
    <img class="img-responsive" src="assets/rebioinc_process_03.jpg">
 
   <p>Biochar production produces a lot of heat, and most stand-alone biochar reactors simple release their heat into the atmosphere.  By co-locating ours next to the ethanol distillation unit we are able to capture and use (cogenerate) all of that heat needed to fuel the ethanol production process.  This eliminates an operating cost, thus helping to “close the loop” both economically and environmentally.</p>

    <p>Once the sugar in pomace is converted to alcohol there is still a waste product: biomass that has no sugar! This is an organic material that still has latent energy. We dry and pelletize this material and put it into a Biochar Reactor, or what is commonly called a Gasifier.  Gasifying this remaining waste product produces all of the heat and electricity needed to fuel the ethanol unit, with excess electricity being used on-site to reduce other electrical loads.</p>
</div>

  <div>
    <img class="img-responsive" src="assets/rebioinc_process_04.jpg">
 <p>Biochar is a high-grade soil amendment that all research has shown has enormous benefits to the soil. Crop yields have been proven to bump 3-5 times with its use, water retention has in the soil increases, and biochar has also been shown to mitigate many soil borne diseases.</p>

      <p class="add-margin-to-p">To find out more about Biochar and how it is used in the California Wine Region <a href="http://sonomabiocharinitiative.org/" target="_blank">click here…</a></p>

     <p>Gasification is an industrial process that takes organic waste and burns it with a very low presence of oxygen. This does a few things: 1) it produces a flammable gas called syngas (no smoke); 2) it sequesters all the remaining carbon in the form of a charcoal-like substance called Biochar, and; 3) it creates a lot of heat. The syngas is used to fire an internal combustion engine to make electricity (generator set).  The Biochar is used as a high-grade soil amendment.   The heat is used to make ethanol, as well as off-set the thermal needs of other on-site facilities.</p>
</div>

<div>
    <img class="img-responsive" src="assets/rebioinc_process_05.jpg">
  <p>The syngas produced by the gasifier is used to make “green” electricity. By co-locating our plant at industrial facilities we not only supply electricity to our own units, but we are able to supply base load electric requirements to other facilities on-site.  What is not used on-site can be poured back into the grid to help meet California’s Carbon Reduction Standards (the most ambitious in the country).</p>
      <p class="add-margin-to-p">To learn more about Biochar and the US Biochar Initiative, <a href="http://biochar-us.org/biochar-introduction" target="_blank">click here…</a></p>

<p>The methane gas from the digester is used to make “green” electricity. By co-locating our plant next to industrial facilities we supply base load electric requirements, and pour the rest back into the grid to help California’s meet its Carbon Reduction Standards (the most stringent in the country).</p>

      <p>To learn more about California’s Bioenergy Plan and the 2020 Carbon Reduction Standards, <a href="http://www.resources.ca.gov/docs/2012_Bioenergy_Action_Plan.pdf" target="_blank">click here…</a></p>

   <p>Biochar reactors produce three basic things: Syngas, Biochar, and Heat.  Syngas is a flammable, clean burning gas that is used to create more green electricity via a built-in generator, and fed back to the grid.</p>
</div>

</div>




<div class="our-process-container visible-md visible-lg">
<div class="our-process-container">
<div class="model-image">
<img src="assets/Biomodel-01.jpg">
  <div class="outerTip tip1" >
    <img class="img-responsive" src="assets/left-tip.png">
    <div class="innerTip">
      <p>Biomass is the leftover waste/residue after agriculture processes.  Biomass can be used as a feedstock for clean energy.  Biomass rich in sugars (carbohydrates, sucrose, lactose, etc) can be converted into ethanol (99% alcohol) and sold into the vehicle fuels market.</p>
    </div>
  </div>
</div>


<div class="model-image">
<img src="assets/Biomodel-02.jpg">
  <div class="outerTip tip2">
    <img class="big" src="assets/top-tip.png">
    <div class="innerTip">
     
      <p>The first process in our system turns the sugar biomass into fuel-grade ethanol. Fuel-grade ethanol is 99.9% alcohol (198 proof), and our gasoline supply currently has 10% ethanol blended into it already. Almost identical to the process for making drinkable spirits, ethanol is made by fermenting organic material and distillation.  The main difference is the removal of all excess water.</p>

      <p class="add-margin-to-p">The University of California at Davis conducted a research project last year showing that grape pomace can be turned into fuel-grade ethanol.  To view their white paper <a href="http://www.infohightech.com/IMG/pdf/vin1.pdf" target="_blank">click here...</a></p>
    </div>
  </div>
</div>

<div class="model-image">
<img src="assets/Biomodel-03.jpg">
  <div class="outerTip tip3">
    <img class="img-responsive" src="assets/right-tip.png">
    <div class="innerTip">
     
      <p>Ethanol is pure alcohol, which drastically reduces tailpipe emissions. In fact, you may have seen placards next to the gas pump that say “Up to 10% of the gasoline purchased at this pump is fuel-grade ethanol.” The EPA has recently approved a 15% ethanol blend in all gasoline, which means demand for ethanol is going to rise significantly in the coming years. Most of the ethanol consumed in California is produced in the Midwest and shipped by rail.  The growth of fuel crops, and transportation of fuel once it is produced comes with its own set of ethical implications.  The ethanol we are producing is created from local and regional  waste streams, and consumed locally.</p>

      <p class="add-margin-to-p">To view more information on ethanol use, <a href="http://www.ethanolrfa.org/pages/ethanol-facts-environment" target="_blank">click here...</a></p>
    </div>
  </div>
</div>

<div class="model-image relative" style="top:68px; left:41px;">
<img src="assets/Biomodel-04.jpg">
  <div class="outerTip tip4">
    <img class="img-responsive" src="assets/left-tip.png">
    <div class="innerTip">
     
      <p>Biochar is a high-grade soil amendment that all research has shown has enormous benefits to the soil. Crop yields have been proven to bump 3-5 times with its use, water retention has in the soil increases, and biochar has also been shown to mitigate many soil borne diseases.</p>

      <p class="add-margin-to-p">To find out more about Biochar and how it is used in the California Wine Region <a href="http://sonomabiocharinitiative.org/" target="_blank">click here…</a></p>
    </div>
  </div>
</div>

<div class="model-image relative" style="left:65px;">
<img src="assets/Biomodel-05.jpg">
  <div class="outerTip tip5">
    <img class="img-responsive" src="assets/left-tip.png">
    <div class="innerTip">
     
      <p>Biochar production produces a lot of heat, and most stand-alone biochar reactors simple release their heat into the atmosphere.  By co-locating ours next to the ethanol distillation unit we are able to capture and use (cogenerate) all of that heat needed to fuel the ethanol production process.  This eliminates an operating cost, thus helping to “close the loop” both economically and environmentally.</p>
    </div>
  </div>
</div>

<div class="model-image relative" style="left:60px;">
<img src="assets/Biomodel-06a.jpg">
  <div class="outerTip tip6">
    <img class="img-responsive" src="assets/right-tip.png">
    <div class="innerTip">
     

      <p>Once the sugar in pomace is converted to alcohol there is still a waste product: biomass that has no sugar! This is an organic material that still has latent energy. We dry and pelletize this material and put it into a Biochar Reactor, or what is commonly called a Gasifier.  Gasifying this remaining waste product produces all of the heat and electricity needed to fuel the ethanol unit, with excess electricity being used on-site to reduce other electrical loads.</p>
    </div>
  </div>
</div>

<div class="model-image relative" style="left:243px;bottom:21px;">
<img src="assets/Biomodel-07.jpg">
  <div class="outerTip tip7">
    <img class="img-responsive" src="assets/right-tip.png">
    <div class="innerTip">
     
     <p>Gasification is an industrial process that takes organic waste and burns it with a very low presence of oxygen. This does a few things: 1) it produces a flammable gas called syngas (no smoke); 2) it sequesters all the remaining carbon in the form of a charcoal-like substance called Biochar, and; 3) it creates a lot of heat. The syngas is used to fire an internal combustion engine to make electricity (generator set).  The Biochar is used as a high-grade soil amendment.   The heat is used to make ethanol, as well as off-set the thermal needs of other on-site facilities.</p>
    </div>
  </div>
</div>

<div class="model-image relative" style="top:107px; left:72px;">
<img src="assets/Biomodel-08.jpg">
  <div class="outerTip tip8">
    <img class="img-responsive" src="assets/right-tip.png">
    <div class="innerTip">
     

      <p>The syngas produced by the gasifier is used to make “green” electricity. By co-locating our plant at industrial facilities we not only supply electricity to our own units, but we are able to supply base load electric requirements to other facilities on-site.  What is not used on-site can be poured back into the grid to help meet California’s Carbon Reduction Standards (the most ambitious in the country).</p>
      <p class="add-margin-to-p">To learn more about Biochar and the US Biochar Initiative, <a href="http://biochar-us.org/biochar-introduction" target="_blank">click here…</a></p>
    </div>
  </div>
</div>

<div class="model-image relative" style="top:196px; left:14px;">
<img src="assets/Biomodel-09.jpg">
  <div class="outerTip tip9">
    <img class="img-responsive" src="assets/left-tip.png">
    <div class="innerTip">
      <p>Biochar reactors produce three basic things: Syngas, Biochar, and Heat.  Syngas is a flammable, clean burning gas that is used to create more green electricity via a built-in generator, and fed back to the grid.</p>
    </div>
  </div>
</div>

<div class="model-image relative" style="top:196px; right:218px;">
<img src="assets/Biomodel-10.jpg">
  <div class="outerTip tip10">
    <img class="img-responsive" src="assets/right-tip.png">
    <div class="innerTip">
     
      <p>The methane gas from the digester is used to make “green” electricity. By co-locating our plant next to industrial facilities we supply base load electric requirements, and pour the rest back into the grid to help California’s meet its Carbon Reduction Standards (the most stringent in the country).</p>

      <p class="add-margin-to-p">To learn more about California’s Bioenergy Plan and the 2020 Carbon Reduction Standards, <a href="http://www.resources.ca.gov/docs/2012_Bioenergy_Action_Plan.pdf" target="_blank">click here…</a></p>
    </div>
  </div>
</div>

</div>


<script>
  $(document).ready(function(){
    $('.model-image').hover(function(){
      $(this).find('.outerTip').toggle();
    })
});
</script>
