<div class="our-process-container">
  <img src="assets/Biomodel-full_01.jpg" usemap="#our-process"/>

  <map name="our-process">
    <area id="1" shape="rect" coords="127,34,281,129" href="" alt="Wine Industry Waste">

    <area id="2" shape="rect" coords="384,29,496,205" href="" alt="Ethanal Distillation">

    <area id="3" shape="rect" coords="640,53,822,185" href="" alt="Gasoline Pump">

    <area id="4" shape="rect" coords="493,196,675,293" href="" alt="Grape Pomice and Cow">

    <area id="5" shape="rect" coords="601,450,761,585" href="" alt="Methane Digester">

    <area id="6" shape="rect" coords="461,601,578,701" href="" alt="Right Electrical Tower">

    <area id="7" shape="rect" coords="390,424,488,509" href="" alt="Digestate">

    <area id="8" shape="rect" coords="294,603,411,703" href="" alt="Left Electrical Tower">

    <area id="9" shape="rect" coords="108,449,273,584" href="" alt="Biochar Reactor">

    <area id="10" shape="rect" coords="21,208,140,359" href="" alt="Soil and Green Sprout">

    <area id="11" shape="rect" coords="219,200,338,273" href="" alt="Heat">
  </map>


  <div class="outerTip tip1" >
    <img src="assets/left-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Pomace, which is the leftover grape skins and seeds after wine production, can be used as a feedstock for clean energy. Specifically, grape skins still have a lot of sugar in them.  This sugar can be turned into ethanol (99% alcohol) and used as a cleaner burning fuel for cars.</p>
    </div>
  </div>

  <div class="outerTip tip2">
    <img class="big" src="assets/top-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>The first process in our system turns the sugar in pomace into fuel-grade ethanol. Fuel-grade ethanol is 99.9% alcohol (198 proof), and our gasoline supply currently has a 10% ethanol blended into it already.  Almost identical to the process for making whiskey, ethanol is made by fermenting organic material and distillation.</p>

      <p class="add-margin-to-p">The University of California at Davis conducted a research project last year showing that grape pomace can be turned into fuel-grade ethanol.  To view their white paper <a href="http://www.infohightech.com/IMG/pdf/vin1.pdf" target="_blank">click here...</a></p>
    </div>
  </div>

  <div class="outerTip tip3">
    <img src="assets/right-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Ethanol is pure alcohol, which drastically reduces tailpipe emissions. In fact, you may have seen placards next to the gas pump that say “Up to 10% of the gasoline purchased at this pump is fuel-grade ethanol.” The EPA has recently approved a 15% ethanol blend in all gasoline, which means demand for ethanol is going to rise significantly in the coming years. Most of the ethanol consumed in California is produced in the Midwest and shipped by rail.  The growth of fuel crops, and transportation of fuel once it is produced comes with its own set of ethical implications.  The ethanol we are producing is created from local and regional  waste streams, and consumed locally.</p>

      <p class="add-margin-to-p">To view more information on ethanol use, <a href="http://www.ethanolrfa.org/pages/ethanol-facts-environment" target="_blank">click here...</a></p>
    </div>
  </div>

  <div class="outerTip tip4">
    <img src="assets/right-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Once the sugar in pomace is converted to alcohol there is still a waste product: grape skins that have no sugar! This is an organic material that can go directly to compost. However, we believe that would be wasteful because there is still energy left in that organic material. Our second process mixes grape skins that have no sugar with cow manure and places that mixture in a methane digester to capture the methane gas.</p>

      <p class="add-margin-to-p">To see information on what is already being done in this area, <a href="http://www.acoustical-consultants.com/portfolio/vandermeer-greenhouses-biogas-generator-acoustic-audit-ontario/" target="_blank">click here...</a></p>
    </div>
  </div>

  <div class="outerTip tip5">
    <img class="big" src="assets/bottom-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>A methane digester acts just like a cow’s stomach by capturing all of the methane gas that emits naturally. Instead of being released into the atmosphere, that gas can be captured and sold. However, our business model shows that revenue is highest when that gas is used to make electricity.  That is, when it is used to fire an electric generator. Our second process therefore converts grape skins (after ethanol production) and cow manure into methane gas that produces green electricity.  This electricity can be used to meet the energy demands of the winery itself or any light industrial complex, with the excess being poured back into the grid.</p>

      <p class="add-margin-to-p">To learn more about methane digestion, click <a href="http://www.americanbiogascouncil.org/biogas_what.asp" target="_blank">here...</a></p>
    </div>
  </div>

  <div class="outerTip tip6">
    <img src="assets/left-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>The methane gas from the digester is used to make “green” electricity. By co-locating our plant next to industrial facilities we supply base load electric requirements, and pour the rest back into the grid to help California’s meet its Carbon Reduction Standards (the most stringent in the country).</p>

      <p class="add-margin-to-p">To learn more about California’s Bioenergy Plan and the 2020 Carbon Reduction Standards, <a href="http://www.resources.ca.gov/docs/2012_Bioenergy_Action_Plan.pdf" target="_blank">click here…</a></p>
    </div>
  </div>

  <div class="outerTip tip7">
    <img class="big" src="assets/bottom-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Digestate is a term referring to the leftover solids that come out of the methane digester. While it is common practice for many methane digestion operations to compost their digestate, we are adding an innovation that makes our system a cohesive whole.  By placing our digestate in a biochar reactor we create an order of magnitude greater economic and environmental efficiency.</p>
    </div>
  </div>

  <div class="outerTip tip8">
    <img src="assets/right-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p >Biochar reactors produce three basic things: Syngas, Biochar, and Heat.  Syngas is a flammable, clean burning gas that is used to create more green electricity via a built-in generator, and fed back to the grid.</p>
    </div>
  </div>

  <div class="outerTip tip9">
    <img class="big" src="assets/bottom-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Biochar production is an industrial process that takes organic waste and burns it without the presence of oxygen. This does a few things: 1) it produces syngas (no smoke); 2) it sequesters all the remaining carbon in the form of a charcoal-like substance called Biochar, and; 3) it creates a lot of heat. The syngas is used to make more electicity, the biochar is used as a high grade soil amendment, and (when co-located next to an ethanol unit) all the heat is used to make ethanol.  This eliminates the energy costs of ethanol production process, and thus a huge operating expense.</p>

      <p class="add-margin-to-p">To learn more about Biochar and the US Biochar Initiative, <a href="http://biochar-us.org/biochar-introduction" target="_blank">click here…</a></p>
    </div>
  </div>

  <div class="outerTip tip10">
    <img src="assets/left-tip.png">
    <div class="innerTip">
      <div class="cross"><a href="">&#735;</a></div>
      <p>Biochar is a high-grade soil amendment that all research has shown has enormous benefits to the soil. Crop yields have been proven to bump 3-5 times with its use, water retention has in the soil increases, and biochar has also been shown to mitigate many soil borne diseases.</p>

      <p class="add-margin-to-p">To find out more about Biochar and how it is used in the California Wine Region <a href="http://sonomabiocharinitiative.org/" target="_blank">click here…</a></p>

    </div>
    </div>

    <div class="outerTip tip11">
      <img src="assets/left-tip.png">
      <div class="innerTip">
        <div class="cross"><a href="">&#735;</a></div>
        <p>Biochar production produces a lot of heat, and most stand-alone biochar reactors simple release their heat into the atmosphere.  By co-locating ours next to the ethanol distillation unit we are able to capture and use (cogenerate) all of that heat needed to fuel the ethanol production process.  This eliminates an operating cost, thus helping to “close the loop” both economically and environmentally.</p>
      </div>
    </div>
</div>

