
<div class='bg1' id="bg1" data-type="background" data-speed="10" class="homeImage"></div>


<div id="holdingContainer" class="container">

  <div class="block block1">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2>At <span>ReBio</span> we <span>reduce emissions</span> through the re-purposing of agricultural waste.</h2>
      </div>
    </div>
  </div>

  <div class="block block2">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2>Our energy system <span>reduces operating costs</span> and helps California meet carbon reduction standards.</h2>
      </div>
    </div>
  </div>

  <div id="process">
    <%= render 'static_pages/process'%>
  </div>

  <div class="block block3">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2><span>We</span> follow the lifecycle <span>value</span> chain of <span>agricultural</span> waste.</h2>
      </div>
    </div>
  </div>
  </div>

  <div id="team" class="row">
    <%= render 'static_pages/team'%>
  </div>




