
<div class='bg'>test testing</div>
<div class='bg2'></div>
<div style="postion:absolute; width: 100%; z-index: 1; height: 1200px;">


  <div style="padding-top: 60px;height: 400px;">
    <div style="margin-top: 80px;margin-left: 5%;padding: 10px;background-color: #fff;width: 600px;">
      <h1 style="margin-top: 0;">Welcome to Rebio Inc.</h1>
      <h3>Rebio Reduces Carbon Emissions Through the Re-Purposing of Agricultural Waste Into Clean Energy.</h3>
    </div>
  </div>
  
  <div style="height: 500px;overflow:hidden;background-color: #fff">
    <div style="padding: 20px;position: relative: margin: 0 auto;">
      <h2 style="margin-top: 0;">Our Philosophy</h2>
      <p style="float:left;width: 300px;padding-right:20px;">Our philosophy is to make the most of what you have. Typically, when a product is made there also is a by-product that is produced. Byproducts tend to be cost centers for businesses, and our business philosophy is to look at byproducts as feedstocks for new products. If you act from this philosophy far enough you “closing the loop” and you end up with no waste.</p>

      <p style="float:left;width: 300px;padding-right:20px;">In our region of Northern California we notice a large amount of grape skins and seeds (pomace) going to compost from the wine industry each year. We consider composting to be a good thing, but we feel that there is latent energy in this substrate that is going to waste on the compost pile.</p> 

      <p style="float:left;width: 300px;padding-right:20px;">Instead of simply decomposing, there is a tremendous amount of clean energy that could be captured before this organic matter becomes fertilizer. At a time when our domestic need for more renewable energy is increasing exponentially, this “byproduct” could be “feedstock” for locally produced energy that could help reduce our in-state carbon footprint.</p>

      <p style="float:left;width: 300px;">We have designed a process that “closes the loop” by creating clean energy from local agricultural waste streams and still puts the final product back to the land in the form of fertilizer. Rooted in the philosophy that there is no such thing as “waste.” we believe that the closer you get in tune with nature the more abundant your life will be. Welcome to ReBio!</p>
    </div>
    <img src='assets/rows-of-grapes-before-harvesting.jpg'>
  </div>


</div>
    <div style="padding: 30px;background-color: #fff;width: 90%;margin: 0 auto;"><img src="assets/illustration-of-biofuel-renewable-fuel.jpg"></div>

<div style="height: 300px;">
  </div>

<script>
function parallax(){
  var scrolled = $(window).scrollTop();
  $('.bg').css('top', -(scrolled * 0.4) + 'px');
}

$(window).scroll(function(e){
  parallax();
});
</script>