
<div class='bg1'></div>

<div id="holdingContainer">
  <div id="welcome" class="row">
    <div id="welcome-title" class="col-sm-12">
      <div class="center-block col-sm-8" style="margin:25px auto;float:none;">
        <h2>At Rebio we Reduce Carbon Emissions Through the Re-Purposing of Agricultural Waste Into Clean Energy.</h2>
      </div>
    </div>

  </div>

  <div id="process" class="row">
    <h2>Our Process</h2>
    <img class="hidden-xs" src="assets/Biomodel.jpg" usemap="#bioModelFull">
    <map name="bioModelFull">
       <area shape="rect" coords="0,0,284,145" href="#one">
       <area shape="rect" coords="287,9,502,156" href="#two">
       <area shape="rect" coords="535,34,773,195" href="#three">
       <area shape="rect" coords="253,154,642,350" href="#four">
       <area shape="rect" coords="38,150,247,366" href="#five">
       <area shape="rect" coords="319,347,513,478" href="#six">
       <area shape="rect" coords="273,497,544,669" href="#seven">
    </map>   



    <div id="process-mobile" class="visible-xs">
      <figure>
        <img class="img-responsive" src="assets/rebioinc_process_01.jpg">
        <figcaption>
          Biomass is the leftover waste/residue after agriculture processes. Biomass can be used as a feedstock for clean energy. Biomass rich in sugars (carbohydrates, sucrose, lactose, etc) can be converted into ethanol (99% alcohol) and sold into the vehicle fuels market.
        </figcaption>
      </figure>

      <figure>
        <img class="img-responsive" src="assets/rebioinc_process_02.jpg">
        <figcaption>
         The first process in our system turns the sugar biomass into fuel-grade ethanol. Fuel-grade ethanol is 99.9% alcohol (198 proof), and our gasoline supply currently has 10% ethanol blended into it already. Almost identical to the process for making drinkable spirits, ethanol is made by fermenting organic material and distillation. The main difference is the removal of all excess water.
       </figcaption>
       <figcaption>
        The University of California at Davis conducted a research project last year showing that grape pomace can be turned into fuel-grade ethanol. To view their white paper click here...
      </figcaption>
      <figcaption>
       Ethanol is pure alcohol, which drastically reduces tailpipe emissions. In fact, you may have seen placards next to the gas pump that say “Up to 10% of the gasoline purchased at this pump is fuel-grade ethanol.” The EPA has recently approved a 15% ethanol blend in all gasoline, which means demand for ethanol is going to rise significantly in the coming years. Most of the ethanol consumed in California is produced in the Midwest and shipped by rail. The growth of fuel crops, and transportation of fuel once it is produced comes with its own set of ethical implications. The ethanol we are producing is created from local and regional waste streams, and consumed locally.
     </figcaption>
     <figcaption>
      To view more information on ethanol use, click here...
    </figcaption>
  </figure>

  <figure>
    <img class="img-responsive" src="assets/rebioinc_process_03.jpg">
    <figcaption>
      Biochar production produces a lot of heat, and most stand-alone biochar reactors simple release their heat into the atmosphere. By co-locating ours next to the ethanol distillation unit we are able to capture and use (cogenerate) all of that heat needed to fuel the ethanol production process. This eliminates an operating cost, thus helping to “close the loop” both economically and environmentally.
    </figcaption>
  </figure>

  <figure>
    <img class="img-responsive" src="assets/rebioinc_process_04.jpg">
    <figcaption>
      Biochar is a high-grade soil amendment that all research has shown has enormous benefits to the soil. Crop yields have been proven to bump 3-5 times with its use, water retention has in the soil increases, and biochar has also been shown to mitigate many soil borne diseases.
    </figcaption>
    <figcaption>
      To find out more about Biochar and how it is used in the California Wine Region click here…
    </figcaption> <figcaption>
    Gasification is an industrial process that takes organic waste and burns it with a very low presence of oxygen. This does a few things: 1) it produces a flammable gas called syngas (no smoke); 2) it sequesters all the remaining carbon in the form of a charcoal-like substance called Biochar, and; 3) it creates a lot of heat. The syngas is used to fire an internal combustion engine to make electricity (generator set). The Biochar is used as a high-grade soil amendment. The heat is used to make ethanol, as well as off-set the thermal needs of other on-site facilities.
  </figcaption>
</figure>

<figure>
  <img class="img-responsive" src="assets/rebioinc_process_05.jpg">
  
  <figcaption>
   The syngas produced by the gasifier is used to make “green” electricity. By co-locating our plant at industrial facilities we not only supply electricity to our own units, but we are able to supply base load electric requirements to other facilities on-site. What is not used on-site can be poured back into the grid to help meet California’s Carbon Reduction Standards (the most ambitious in the country).
 </figcaption> <figcaption>
 To learn more about Biochar and the US Biochar Initiative, click here…
</figcaption>
</figure>
</div>
</div>

<div id="philosophy">
  <div class="row">
    <h2>Our Philosophy</h2>
    <p class="col-md-3">Our philosophy is to make the most of what you have. Typically, when a product is made there also is a by-product that is produced. Byproducts tend to be cost centers for businesses, and our business philosophy is to look at byproducts as feedstocks for new products. If you act from this philosophy far enough you “closing the loop” and you end up with no waste.</p>

    <p class="col-md-3">In our region of Northern California we notice a large amount of grape skins and seeds (pomace) going to compost from the wine industry each year. We consider composting to be a good thing, but we feel that there is latent energy in this substrate that is going to waste on the compost pile.</p> 

    <p class="col-md-3">Instead of simply decomposing, there is a tremendous amount of clean energy that could be captured before this organic matter becomes fertilizer. At a time when our domestic need for more renewable energy is increasing exponentially, this “byproduct” could be “feedstock” for locally produced energy that could help reduce our in-state carbon footprint.</p>

    <p class="col-md-3">We have designed a process that “closes the loop” by creating clean energy from local agricultural waste streams and still puts the final product back to the land in the form of fertilizer. Rooted in the philosophy that there is no such thing as “waste.” we believe that the closer you get in tune with nature the more abundant your life will be. Welcome to ReBio!</p>
  </div>
</div>

<div id="team">
  <div class="row">

   <h1>The Team</h1>
   <% @team_members.each do |m| %>
   <div class="col-md-4 bio">
    <h3><%= m.first_name %> <%= m.last_name %></h3> 
    <h4>(<%= m.title %>)</h4>
    <p><%= m.bio %></p>
  </div>
  <% end %>

  <div class="col-md-4">
    <h3>Sam Roberts</h3>
    <h4>Managing Principal</h4>
    <p>
      (Managing Principal) was an angel investor and involved early-on in building Yokayo Biofuels, California’s first waste-oil biodiesel production facility. Sam has spent the last seven years as a consultant and executive coach. He has a master degree in Industrial and Organizational Psychology and has been leading the preliminary stages of this company for the past year and a half, after meeting Brian Eberly while commuting to Yokayo Biofuels where Sam was coaching the CEO.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Brian Eberly</h3>
    <h4>Principal – Technology</h4>
    <p>has developed the conceptual engineering for the technology. Brian is currently Chief Operating Officer of Yokayo Biofuels, a producer and distributor of bio-diesel made from waste cooking oils. Brian began research and analysis of the concept for this plant as the thesis of his master of engineering degree program and has continued to refining the engineering analysis of the concept for over seven years.
    </p>
  </div> 

  <div class="col-md-4">
    <h3>Roy Alper</h3>
    <h4>Principal – Technology</h4>
    <p>
      has 25 years of experience in the development, regulation and financing of alternative energy systems. Roy is an attorney with extensive experience in negotiating power sales and fuel supply agreements, obtaining environmental and land use approvals for projects and in leading project development from conception to operation. He has founded two companies in the alternative energy space with successful exits from both and led the development of a $300 million waste fuel technology power plant in Australia.
    </p>
  </div>
</div>
</div>

</div>
