
<div class='bg1' id="bg1" data-type="background" data-speed="10" class="homeImage"></div>


<div id="holdingContainer" class="container">

  <div class="block block1">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">

        <h2>At ReBio we reduce emissions through the re-purposing of agricultural waste.</h2>

      </div>
    </div>
  </div>

  <div class="block block2">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">
        <h2>Our energy system reduces operating costs and helps California meet carbon reduction standards.</h2>
      </div>
    </div>
  </div>

  <div id="process">
   <%= render 'static_pages/our_process_flippers'%>
  </div>

  

  <div class="block block3">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">
        <h2>We follow the lifecycle value chain of agricultural waste.</h2>
      </div>
    </div>
  </div>
  </div>

  <div id="team">
    <%= render 'static_pages/team'%>
  </div>
</div>
