
<div class='bg1'></div>

<div id="holdingContainer">
  <div id="welcome" class="row">
    <div id="welcome-title" class="col-sm-12">
      <div class="center-block col-sm-8" style="margin:25px auto;float:none;">
        <h2>At Rebio we Reduce Carbon Emissions Through the Re-Purposing of Agricultural Waste Into Clean Energy.</h2>
      </div>
    </div>

  </div>

  <div id="process" class="row">
    <h2>Our Process</h2>
    <img class="hidden-xs" src="assets/Biomodel.jpg" usemap="#bioModelFull">
    <map name="bioModelFull">
     <area shape="rect" coords="0,0,284,145" href="#one">
     <area shape="rect" coords="287,9,502,156" href="#two">
     <area shape="rect" coords="535,34,773,195" href="#three">
     <area shape="rect" coords="253,154,642,350" href="#four">
     <area shape="rect" coords="38,150,247,366" href="#five">
     <area shape="rect" coords="319,347,513,478" href="#six">
     <area shape="rect" coords="273,497,544,669" href="#seven">
   </map>   



   <div id="process-mobile" class="visible-xs">
    <figure>
      <img class="img-responsive" src="assets/rebioinc_process_01.jpg">
      <figcaption>
        Biomass is the leftover waste/residue after agriculture processes. Biomass can be used as a feedstock for clean energy. Biomass rich in sugars (carbohydrates, sucrose, lactose, etc) can be converted into ethanol (99% alcohol) and sold into the vehicle fuels market.
      </figcaption>
    </figure>

    <figure>
      <img class="img-responsive" src="assets/rebioinc_process_02.jpg">
      <figcaption>
       The first process in our system turns the sugar biomass into fuel-grade ethanol. Fuel-grade ethanol is 99.9% alcohol (198 proof), and our gasoline supply currently has 10% ethanol blended into it already. Almost identical to the process for making drinkable spirits, ethanol is made by fermenting organic material and distillation. The main difference is the removal of all excess water.
     </figcaption>
     <figcaption>
      The University of California at Davis conducted a research project last year showing that grape pomace can be turned into fuel-grade ethanol. To view their white paper click here...
    </figcaption>
    <figcaption>
     Ethanol is pure alcohol, which drastically reduces tailpipe emissions. In fact, you may have seen placards next to the gas pump that say “Up to 10% of the gasoline purchased at this pump is fuel-grade ethanol.” The EPA has recently approved a 15% ethanol blend in all gasoline, which means demand for ethanol is going to rise significantly in the coming years. Most of the ethanol consumed in California is produced in the Midwest and shipped by rail. The growth of fuel crops, and transportation of fuel once it is produced comes with its own set of ethical implications. The ethanol we are producing is created from local and regional waste streams, and consumed locally.
   </figcaption>
   <figcaption>
    To view more information on ethanol use, click here...
  </figcaption>
</figure>

<figure>
  <img class="img-responsive" src="assets/rebioinc_process_03.jpg">
  <figcaption>
    Biochar production produces a lot of heat, and most stand-alone biochar reactors simple release their heat into the atmosphere. By co-locating ours next to the ethanol distillation unit we are able to capture and use (cogenerate) all of that heat needed to fuel the ethanol production process. This eliminates an operating cost, thus helping to “close the loop” both economically and environmentally.
  </figcaption>
</figure>

<figure>
  <img class="img-responsive" src="assets/rebioinc_process_04.jpg">
  <figcaption>
    Biochar is a high-grade soil amendment that all research has shown has enormous benefits to the soil. Crop yields have been proven to bump 3-5 times with its use, water retention has in the soil increases, and biochar has also been shown to mitigate many soil borne diseases.
  </figcaption>
  <figcaption>
    To find out more about Biochar and how it is used in the California Wine Region click here…
  </figcaption> <figcaption>
  Gasification is an industrial process that takes organic waste and burns it with a very low presence of oxygen. This does a few things: 1) it produces a flammable gas called syngas (no smoke); 2) it sequesters all the remaining carbon in the form of a charcoal-like substance called Biochar, and; 3) it creates a lot of heat. The syngas is used to fire an internal combustion engine to make electricity (generator set). The Biochar is used as a high-grade soil amendment. The heat is used to make ethanol, as well as off-set the thermal needs of other on-site facilities.
</figcaption>
</figure>

<figure>
  <img class="img-responsive" src="assets/rebioinc_process_05.jpg">
  
  <figcaption>
   The syngas produced by the gasifier is used to make “green” electricity. By co-locating our plant at industrial facilities we not only supply electricity to our own units, but we are able to supply base load electric requirements to other facilities on-site. What is not used on-site can be poured back into the grid to help meet California’s Carbon Reduction Standards (the most ambitious in the country).
 </figcaption> <figcaption>
 To learn more about Biochar and the US Biochar Initiative, click here…
</figcaption>
</figure>
</div>
</div>

<div id="philosophy">
  <div class="row">
    <h2>Our Philosophy</h2>
    <p class="col-md-3">Our philosophy is to make the most of what you have. Typically, when a product is made there also is a by-product that is produced. Byproducts tend to be cost centers for businesses, and our business philosophy is to look at byproducts as feedstocks for new products. If you act from this philosophy far enough you “closing the loop” and you end up with no waste.</p>

    <p class="col-md-3">In our region of Northern California we notice a large amount of grape skins and seeds (pomace) going to compost from the wine industry each year. We consider composting to be a good thing, but we feel that there is latent energy in this substrate that is going to waste on the compost pile.</p> 

    <p class="col-md-3">Instead of simply decomposing, there is a tremendous amount of clean energy that could be captured before this organic matter becomes fertilizer. At a time when our domestic need for more renewable energy is increasing exponentially, this “byproduct” could be “feedstock” for locally produced energy that could help reduce our in-state carbon footprint.</p>

    <p class="col-md-3">We have designed a process that “closes the loop” by creating clean energy from local agricultural waste streams and still puts the final product back to the land in the form of fertilizer. Rooted in the philosophy that there is no such thing as “waste.” we believe that the closer you get in tune with nature the more abundant your life will be. Welcome to ReBio!</p>
  </div>
</div>

<div id="team">
  <div class="row">

   <h1>The Team</h1>
   <% @team_members.each do |m| %>
   <div class="col-md-4 bio">
    <h3><%= m.first_name %> <%= m.last_name %></h3> 
    <h4>(<%= m.title %>)</h4>
    <p><%= m.bio %></p>
  </div>
  <% end %>

  <div class="col-md-4">
    <h3>Sam Roberts</h3>
    <h4>Managing Principal</h4>
    <p>
      (Managing Principal) was an angel investor and involved early-on in building Yokayo Biofuels, California’s first waste-oil biodiesel production facility. Sam has spent the last seven years as a consultant and executive coach. He has a master degree in Industrial and Organizational Psychology and has been leading the preliminary stages of this company for the past year and a half, after meeting Brian Eberly while commuting to Yokayo Biofuels where Sam was coaching the CEO.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Brian Eberly</h3>
    <h4>Principal – Technology</h4>
    <p>has developed the conceptual engineering for the technology. Brian is currently Chief Operating Officer of Yokayo Biofuels, a producer and distributor of bio-diesel made from waste cooking oils. Brian began research and analysis of the concept for this plant as the thesis of his master of engineering degree program and has continued to refining the engineering analysis of the concept for over seven years.
    </p>
  </div> 

  <div class="col-md-4">
    <h3>Roy Alper</h3>
    <h4>Principal – Technology</h4>
    <p>
      has 25 years of experience in the development, regulation and financing of alternative energy systems. Roy is an attorney with extensive experience in negotiating power sales and fuel supply agreements, obtaining environmental and land use approvals for projects and in leading project development from conception to operation. He has founded two companies in the alternative energy space with successful exits from both and led the development of a $300 million waste fuel technology power plant in Australia.
    </p>
  </div>
</div>


<div id="proof-of-concept-container">
  <h2>Rebio Site Location</h2>
  <div>
    <p>Our proof of concept is located at the industrial facility at the southwest corner of Occidental Rd and Highway 116 in Sebastopol, CA.  You can take a closer look at this facility here in google maps.</p>
  </div>
  <div class="google-maps">
    <iframe width="960" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=gravenstein+hwy+n+and+atkinson+road&amp;aq=&amp;sll=37.758475,-122.235328&amp;sspn=0.40389,0.727158&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Gravenstein+Hwy+N+%26+Atkinson+Rd,+Sebastopol,+Sonoma+County,+California+95472&amp;z=16&amp;ll=38.423188,-122.846372&amp;output=embed"></iframe><br />

  </div>
</div>
</div>


<!-- FAQ SECTION STARTS HERE -->
<div id="faq-container">
  <div class="inner-faq-container">
    <h3>Frequently Asked Questions</h3>
    <div>
      <h4><a class="toggling" href="#">What is pomace?</a></h4>
      <div class="answer">
        <p>Pomace is left over grape skins and seeds after the winemaking process. Pomace is usually composted in large “windrows” in winegrowing regions throughout the world, but there is latent energy remaining in those grape skins that could be captured instead of decomposing in the compost pile and contributing to greenhouse gas emissions.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>

    </div>

    <div>
      <h4><a class="toggling" id="list1" href="#">What kind of energy will you be producing?</a></h4>
      <div class="answer">
        <p>We will be producing two kinds of energy:</p>
        <ol>
          <li><p>Sustainable ethanol from the remaining sugar in the pomace.</p></li>
          <li><p>Sustainable electricity made from the methane gas that is captured in the anaerobic digester that is digesting pomace mixed with cow manure.</p></li>
        </ol>
        <a class="list1" href="#">close</a>
      </div>
    </div>

      <div>
      <h4><a class="toggling" href="#">What is currently being done with pomace?</a></h4>
      <div class="answer">
        <p>Most of the pomace in winegrowing regions is composted-- and this is a good thing in general! However before pomace is turned into fertilizer the energy that is embedded in it can be captured and used in a more efficient manner than simply letting it decompose.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Is anybody already doing what you are wanting to do?
      </a></h4>
      <div class="answer">
        <p>There are already people doing each of the three components to our process. However nobody has made the link between them and put all three under the same roof so as to maximize economic and environmental efficiency.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Why is doing this a better idea than what is currently done?
      </a></h4>
      <div class="answer">
        <p>What is currently being done (composting) is not only a contributor to greenhouse gasses, but it is wasting a perfectly good source of clean energy in the process. With increasing state and national demands for sustainable energy this waste stream is a “low hanging fruit”. It should complement a multi-pronged clean energy approach along with solar, wind, and geothermal solutions.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Where would you build one of these plants?
      </a></h4>
      <div class="answer">
        <p>These are small distributed generation power plants that are placed in rural or semi rural environments next to industries that have power needs.  Our current prototype is housed in Sebastopol, CA on a site with 4 wineries, a creamery, and an apple cider production facility.  The power generated will be used by the facility and the rest is poured back into the grid.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">Who would be your customers?
      </a></h4>
      <div class="answer">
        <p>Customers for our sustainable ethanol would be petroleum companies who are mandated to blend a certain percentage of ethanol into their gasoline stock.  Customers of our sustainable electricity are the co-located industries on-site, but they typically won’t consume every KWH that we produce.  Hence the remained would be fed back into the grid, helping PG&E meet state carbon reduction standards.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
        <p></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#"></a></h4>
      <div class="answer">
        <p>For our electricity our customers would most likely be a winery or other light industry manufacturing entity who we are co-located next to, and we are entered into a material acceptance agreement with for their waste. Their waste stream would be contributing to the electricity that is taking them off the grid, and the excess electricity will be sold back into the grid just like having solar panels on your roof.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">How do you make ethanol out of Pomace?
      </a></h4>
      <div class="answer">
        <p>It is a fairly simple process involving the modern-day technology of an ancient process. Fuel grade ethanol is basically 200 proof alcohol, or 99.9% alcohol. You would never want to drink this stuff, but most cars can run on a blend of 10-15% ethanol with petroleum and most newer cars can run on E85 or 85% ethanol.
        </p>
        <p>We make ethanol by reconstituting the grape skins and seeds before they go to compost. That is we put them in a machine that adds water and yeast, and makes something called “pomace wine.”  You would never want to drink this because it would taste terrible, but whereas wine has between 10% and 14% alcohol pomace wine has between 2%  and 6% alcohol. This “wine” is then distilled until all of the water evaporates off and all that is left is the pure alcohol, or ethanol.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">What happens during the other parts of the year when grape pomace is not available?
      </a></h4>
      <div class="answer">
        <p>The grape harvest runs from late August (Pinot Noir) through to late October and sometimes in early November (Cabernet). However there are other wastes that can be used during other times of the year. The apple harvest starts a month earlier than grapes and runs a month later for starters, and the citrus harvest usually runs between February and June. 
        </p>
        <p>While using fruit waste to make ethanol is a viable option because yeast can turn sucrose into alcohol, there is a year-round option that is also available in the form of cheese manufacturing waste. Lactose can be turned into alcohol not by yeast but by an enzyme that is equally proven, thus our plant can run year-round.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">How do you make electricity out of Pomace?
      </a></h4>
      <div class="answer">
        <p>Once the sugar in the grape skins (or other waste) has been turned into ethanol you are still left with organic matter. That organic matter still has energy left in it and instead of allowing it to decompose, we mix it with cow manure in something called an anaerobic (or methane) digester. An anaerobic digester can be thought of simply as a large cow stomach, but it is much more than that.</p>

        <p>An anaerobic digester churns the mixture of organic matter slowly, and over the course of 15 to 20 days the methane gas emitting from this mixture gets captured before it releases into the atmosphere. This methane gas is most valuable when it is used to fire a grid-tied electrical generator. ​Sustainable electricity is now being produced and fed into a co-located facility, and the rest is poured back into the grid much in the same way a solar installation does.</p>
        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>

    <div>  
      <h4><a class="toggling" id="list2" href="#">What do you do with the waste from the digester?
      </a></h4>
      <div class="answer">
        <p>There are two forms of waste from an anaerobic digester: liquids, and solids. The liquids have a high nutrient content and can be sold as fertilizer for crops. If you have ever made compost at home you know that at the bottom of your compost bin is a liquid substance that some people call “compost tea.”  While some people might find this liquid “yucky”, your plants will love you for sprinkling it on them. The same goes for the liquids coming out of the digestion process, simply on a larger scale.
        </p>
        <p>The solids from the digestion process (cow manure and grape skins with no methane gas in them now) are a decent fertilizer as is. However if they are placed in a biochar reactor two things happen.
        </p>

        <ol>
          <li><p>They become a better fertilizer.
          </p></li>
          <li><p>The bio char reaction produces all the heat needed to fire the ethanol still, thus eliminating the plant’s energy needs.
          </p></li>
        </ol>

        <a class="list2" href="#">close</a></div>
    </div>

    <div>  
      <h4><a class="toggling" href="#">How do you make biochar?
      </a></h4>
      <div class="answer">
        <p>Biochar is an ancient process (anthropologists find biochar pits in the Amazon that are hundreds of years old) that has seen tremendous technological upgrades in the last 25 to 30 years. Biochar (Pyrolysis) is made by burning the grape skins and cow manure without the presence of oxygen. The result is that there is no smoke, and all the remaining carbon in that organic matter gets sequestered in the form of a charcoal like substance that is a really good fertilizer. All the research in the last two decades has shown that in agricultural applications biochar bumps crop yields by 3 to 5 times and increases water retention in the soil.</p>

        <p>Because the biochar reaction produces a lot of heat, we place our unit in such a way that it co-generates the heat needed to make ethanol in our first process thereby eliminating our energy needs.</p>

        <p><a class="shut toggling"  href="#">close</a></p>
      </div>
    </div>
  
<!-- FAQ SECTION ENDS HERE -->

</div>
</div>
