
<img style="height: 1000px;position:absolute;z-index: -1;" src="assets/MaabjergBioEnergy_HighRes.jpg">


<div style="postion:absolute; width: 100%; z-index: 1;">
<div style="height: 400px;background-color: #fff"></div>
<div style="height: 300px;"></div>
<div style="height: 400px;background-color: #fff"></div>

</div>