<div id="philosophy" class="col-sm-12">
  <div class="container">
   <%= image_tag('philosophy.jpg', :class => "img-responsive") %>
   
   <p class="col-md-6">Our philosophy is to make the most of what you have. Typically, when a product is made there are also by-products produced. Byproducts tend to be cost centers for businesses, and if you find new values for them operating costs can be reduced or eliminated. From this stance, closing the loop is possible and new business ecosystems can thrive.</p>

   <p class="col-md-6">Using design-thinking principles from silicon valley applied to the Northern California wine region, ReBio stands to help foster a shift in mindset that can help meet carbon reduction standards while at the same time providing expected financial returns.  The implications for these innovative practices stretch within the California wine growing region, as well as beyond.</p> 
 </div>
</div>

