@media (max-width: 767px) {
  .outer-flipper {
    -moz-transform: scale(.75) rotate(45deg);
    -webkit-transform: scale(.75) rotate(45deg);
    -o-transform: scale(.75) rotate(45deg);
    -ms-transform: scale(.75) rotate(45deg);
    transform: scale(.75) rotate(45deg);
  }
}

.flippers-container {
  width: 90%;
  margin: 25px auto;
  position: relative;
  letter-spacing:1px;
  h2 {
    margin:0 auto !important;
    text-transform:uppercase;
    width:95%;
    font-size:26px;
  }
  .outer-flipper {
    color:#fff;
    position: relative;
    width: 265px;
    height: 265px;
    display: inline-block;
    font-size: 0;
    margin:75px;
    overflow: hidden;
    text-align: center;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .outer-flipper-heading {
    background-color:#fff;
    position: relative;
    width: 265px;
    height: 265px;
    display: inline-block;
    margin:75px;
    overflow: hidden;
    text-align: center;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

      h1 {
        margin: 0 57px 40px 0;
        text-transform:uppercase;
        font-size:50px;
        line-height:1;
      }
      .inner-flipper{display:block !important;}

  }

  .outer-flipper.one {
    background: url('/assets/Biomodel_01.jpg') no-repeat center center;
    div{margin:40px -36px;}
    
  }
  .outer-flipper.one:hover {
    background-color: #e5372a;
  } 

  .outer-flipper.two {
    background: url('/assets/Biomodel_02.jpg') no-repeat center center;
  }
      .outer-flipper.two:hover {
        background-color: #a96a21;
      } 

  .outer-flipper.three {
    background: url('/assets/Biomodel_03.jpg') no-repeat center center;
  }
      .outer-flipper.three:hover {
        background-color: #028833;
      } 

  .outer-flipper.four {
    background: url('/assets/Biomodel_04.jpg') no-repeat center center;
  }
      .outer-flipper.four:hover {
        background-color: #2e8273;
      } 

  .outer-flipper.five {
    background: url('/assets/Biomodel_05.jpg') no-repeat center center;
  }
      .outer-flipper.five:hover {
        background-color: #de9301;
      } 

  .outer-flipper.six {
    background: url('/assets/Biomodel_06.jpg') no-repeat center center;
  }
      .outer-flipper.six:hover {
        background-color: #028833;
      } 

  .outer-flipper.seven {
    background: url('/assets/Biomodel_07.jpg') no-repeat center center;
  }
      .outer-flipper.seven:hover {
        background-color: #494948;
      } 

  .outer-flipper.eight {
    background: url('/assets/Biomodel_08.jpg') no-repeat center center;
  }
      .outer-flipper.eight:hover {
        background-color: #3f7854;
      } 

  .outer-flipper.nine {
    background: url('/assets/Biomodel_09.jpg') no-repeat center center;
  }
      .outer-flipper.nine:hover {
        background-color: #cf5e02;
      } 
  .outer-flipper.ten {
    background: url('/assets/Biomodel_10.jpg') no-repeat center center;
  }
      .outer-flipper.ten:hover {
        background-color: #849604;
      } 

  .outer-flipper-heading {right: 75px;}
  .outer-flipper.one {right: 120px;}
  .outer-flipper.two {left: 675px;top: -421px;}
  .outer-flipper.three {left: 69px; top: -191px;}
  .outer-flipper.four {left: 112px; top: -610px;}
  .outer-flipper.five {right: 490px; top: -380px;}
  .outer-flipper.six {left: 301px; top: -801px;}
  .outer-flipper.seven { left: 258px; top: -801px;}
  .outer-flipper.eight {left: 490px; top: -985px;}
  .outer-flipper.nine {right: 301px; top: -986px;}
  .outer-flipper.ten {left: 302px; top: -1173px;}

  .outer-flipper:hover {
    background:none;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .outer-flipper.five div {margin: 4px auto; padding: 29px;}
  .outer-flipper.ten div {margin: 0 auto; padding: 46px;}

  .inner-flipper {
    display: none;
    margin: 40px auto;
    padding:15px;
    position: relative;
    width: 330px;
    height: auto;
    z-index: 5;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
      line-height: 1.2;
    }

    span {
      font-size:30px;
      display:block;
    }
  }

}
/*.diamond {
  width: 0;
  height: 0;
  border: 300px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -300px;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -300px;
  top: 300px;
  width: 0;
  height: 0;
  border: 300px solid transparent;
  border-top-color: red;
  }*/


