
.bg1 {
  background: url('Wine_grapes.jpg') repeat;
  position: fixed;
  padding-top: 300px;
  width: 100%;
  min-height: 2900px;
  top:0;
  left:0;
  z-index: -1;

}


#holdingContainer {
  width: 100%; 
  z-index: 0; 
  height: auto;
  margin: 0;
}

#welcome {
  width: 100%;
  height: 900px;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.3);

  #welcome-title {
    color:#fff;
    margin-top: 200px;
    /*background-color: rgba(34, 40, 51, 0.85);*/
    h2 {
      margin-top: 0;
      font-size: 50px;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
  }
}

#philosophy, #team {
  background-color: #fff;
  margin:100px 0;

  div {
    padding: 20px;
    position: relative; 
    margin: 0 auto;
  }
  h2 {
    margin-top: 0;
  }
  p {
    float: left;
    &:last-child {
      padding-right: 0;
    }

    h3{
      display:inline-block;
    }
  }



}

#about {
  min-height: 340px;
  background-color: #fff;
  padding: 20px;
  margin-top: 500px;
  div {
    background-color: #fff;
  }
}

#process{
  background-color: #fff;
  margin-top:0;
  margin-bottom: 100px;

  img{
    border: solid 2px #fff;
    margin:0 auto 15px auto;
  }

  h2{
    display:inline-block;
    padding:15px;
  }

  #process-mobile{
    background-color:#f9eee3;
    padding:15px 0;

    figcaption{
      margin:0 auto;
      padding-bottom: 15px;
      width:95%;

    }
  }

}

#proof-of-concept-container {
    margin: 0 auto;
    margin-bottom: 150px;
    background-color: #444444;
    color: #ffffff;
    padding: 20px;
    width: 90%;
  }
  .google-maps {
    position: relative;
    padding-bottom: 40%; 
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    width: 100% !important;
    min-height: 100px !important;
  }

