/* Large desktop */
@media (min-width: 960px) {  
  .nav li a {
    margin: 10px !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 767px) and (max-width: 959px) { 
  body { 
    /*font-size:120%;*/
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  .block {
    background-color: none !important;
    height: 450px !important;
    .block-copy {
      background-color: rgba(0,0,0,.2) !important;
      padding-top: 20px !important;
    }
  }
  .block2 {
    padding-top: 30px !important;
    height: 500px !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body { 
    /*font-size:110%;*/
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  .bg1 {
    padding-top: 0px !important;
  }
  .block {
    background-color: none !important;
    height: 500px !important;
    .block-copy {
      background-color: rgba(0,0,0,.2) !important;
      padding-top: 20px !important;
      
    }
  }
  .block2 {
    padding-top: 30px !important;
    height: 600px !important;
  }
}

@media (max-width: 480px) { 
  body { 
    font-size:100%;
    margin: 0;
    .container {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }
  .block1 {
    height: 600px !important;
    .block-copy {
      margin-top: 0px !important;
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  .block3 {
    height: 300px !important;
    .block-copy {
      padding-top: 0px !important;
    }
  }
}

