.navbar {
  margin: 0;
  background-color: #fff;
  height: 80px;
  .container {
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
  }
  a {
    text-transform: uppercase;
    
  }
  img {
    width: 40px;
  }

  .navbar-brand {
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
  }
  .navbar-brand,
  .navbar-nav > li > a {
    color: rgb(117, 153, 101);
  }
  .nav li {
    display: inline;
    
  }

  .navbar-toggle .icon-bar {
    background-color: rgb(117, 153, 101);
  }

  .navbar-toggle{
    margin-top:12px;
  }

  .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
  .main .active {
    color: rgb(75, 108, 61);
  }
}




.navbar-fixed-top .navbar-collapse {
  padding-top: 25px;
}

.navbar-fixed-top .navbar-collapse {
  padding-top: 4px;
}

.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
  display: block !important;
  z-index: 111;
}
.navbar-brand {
  font-size: 30px;
  line-height: .9;
  text-transform: none !important;
}

