.navbar-inverse {
  margin: 0;
  img {
    width: 60px;
  }
  .navbar-brand,
  .navbar-nav > li > a {
    color: rgb(117, 153, 101);
    }
    .nav li {
    display: inline;
    }

  .navbar-toggle .icon-bar {
    background-color: rgb(117, 153, 101);
  }

  .navbar-toggle{
    margin-top:25px;
  }

  .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
  .main .active {
    color: rgb(75, 108, 61);
    }

}

.container-fluid {
  background-color: #fff;
}


.navbar-fixed-top .navbar-collapse {
    padding-top: 25px;
}

.navbar-brand {
    font-size: 20px;
    line-height: .9;
}
