/*///////////// flipper tooltips /////////////*/


/*///////////// original tooltips /////////////*/
.our-process-container {
  position: relative;
  width: 850px;
  margin: 0 auto;
  z-index: 1;
  height: 1000px;
  padding-bottom: 60px;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 15px;
  }
  img {
    width: 800px;
    position: absolute;
    z-index: -1;
    display: block;
  }
  .outerTip {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 1;
    
    img {
      width: 15px;
      position: absolute;
      z-index: 1;
    }
    .big {
      width: 30px;
    }
    .innerTip {
      border-radius: 3px;
      border: 3px solid #1F2123;
      padding: 10px;
      background-color: #fff;
    }
  }

  .tip1 {
    top: 140px;
    left: 275px;
    width: 360px;
    img {
      left: 6px;
      top: 40px;
    }
  }

  .tip2 {
    top: 310px;
    left: 340px;
    width: 300px;
    img {
      left: 85px;
      top: 5px;
    }
  }

  .tip3 {
    top: 120px;
    left: 390px;
    width: 300px;
    img {
      right: 6px;
      top: 130px;
    }
  }

  .tip4 {
    top: 220px;
    right: 360px;
    width: 300px;
    img {
      right: 5px;
      top: 160px;
    }
  }

  .tip5 {
    top: 500px;
    right: 10px;
    width: 260px;
    img {
      left: 6px;
      top: 60px;
    }
  }

  .tip6 {
    top: 600px;
    right: 0px;
    width: 280px;
    img {
      bottom: 60px;
      left: 6px;
    }
  }

  .tip7 {
    top: 640px;
    right: 10px;
    width: 265px;
    img {
      left: 6px;
      bottom: 30px;
    }
  }

  .tip8 {
    top: 715px;
    left: 100px;
    width: 200px;
    img {
      right: 5px;
      bottom: 30px;
    }
  }

  .tip9 {
    top: 285px;
    left: 40px;
    width: 260px;
    img {
      right: 6px;
      top: 70px;
    }
  }

  .tip10 {
    top: 368px;
    left: 190px;
    width: 300px;
    img {
      left: 6px;
      top: 120px;
    }
  }

  .tip11 {
    top: 270px;
    left: 440px;
    width: 245px;
    img {
      top: 80px;
      left: 6px;
    }
  }

  .cross {
    font-size: 40px;
    float: right;
    margin-top: -20px;
    padding-left: 5px;
    padding-bottom: 5px;
    a {
      text-decoration: none;
    }
  }

}
.add-margin-to-p {
  margin-top: 10px;
}