/*///////////// sliced image /////////////*/

.model-image{
  cursor:pointer;
  display:inline-block;
}

.mobile-our-process-container{
  
  div{margin:10px 0 40px 0;border-bottom: 2px dotted #CCC;}

  img{display:block;margin:0 auto 15px auto;}
  p{font-size:16px;line-height:1.2;}

}


/*///////////// tooltips /////////////*/
.relative{position:relative;}

.our-process-container {
  position: relative;
  width: 850px;
  margin: 0 auto;
  z-index: 1;
  height: 1000px;
  padding-bottom: 60px;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 15px;
  }

  .outerTip {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 1;
    
    img {
      width: 15px;
      position: absolute;
      z-index: 1;
    }
    .big {
      width: 30px;
    }
    .innerTip {
      border-radius: 3px;
      border: 3px solid #1F2123;
      padding: 10px;
      background-color: #fff;
    }
  }

  .tip1 {
   left: 238px;
    top: -37px;
    width: 360px;
    img {
      left: 6px;
      top: 40px;
    }
  }

  .tip2 {
    left: 272px;
    top: 155px;
    width: 300px;
    img {
      left: 85px;
      top: 5px;
    }
  }

  .tip3 {
    left: 360px;
    top: 7px;
    width: 300px;
    img {
      right: 6px;
      top: 130px;
    }
  }

  .tip4 {
    left: 170px;
    top: -43px;
    width: 300px;
    img {
      left: 5px;
      top: 41px;
    }
  }

  .tip5 {
    left: 149px;
    top: 0;
    width: 300px;
    img {
      left: 6px;
      top: 60px;
    }
  }

  .tip6 {
    right: 235px;
    top: 0;
    width: 280px;
    img {
      top: 60px;
      right: 6px;
    }
  }

  .tip7 {
  right: 182px;
    top: -130px;
    width: 300px;
    img {
      right: 6px;
      bottom: 30px;
    }
  }

  .tip8 {
 right: 100px;
    top: 15px;
    width: 300px;
    img {
      right: 5px;
      top: 38px;
    }
  }

  .tip9 {
   left: 96px;
    top: -20px;
    width: 300px;
    img {
   left: 6px;
    top: 36px;
    }
  }

  .tip10 {
   right: 102px;
    top: -20px;
    width: 300px;
    img {
   right: 6px;
    top: 36px;
    }
  }

}
.add-margin-to-p {
  margin-top: 10px;
}